*{
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-aling: center;
}
form{
	padding:100px 20px;
	background-color: blue;
	margin: calc(25% + 100px);
	margin-top: 28px;
	padding-top: 28px;
	margin-bottom: 30px;
}

h1{
	text-align: center;
	padding: 12px;
	color: #FFFFB6C1;
}
input{
	width: calc(100% - 20px);
	form{
   padding: 100px 20px;
   background-color: red;
   margin: calc(25% + 100px);
   margin-top: 70px;
   margin-top: 28px;
   margin-bottom: 30px;
}
h1{
	text-align: center;
	padding: 12px;
	color: #FF000000;
}
}

input{
	width: caLc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color:  white;
	color: #FF000000;
	width: caLc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}


	.mtracorrecto{
		text-align: center;
		width: 100%;
		padding: 12px;
		background-color:  #1e6;
		color: #fff;
	}

	.mtraincorrecto{
		text-align: center;
		width: 100%;
		padding: 12px;
		background-color:  #a22;
		color: #fff;
	}
